
<h1><span id="online"><%= @report.online %></span><br/> Online on <em><%= @report.domain %></em> right now</h1>

<div id="chart" data-since="<%= @report.history.first.first %>"> </div>

<script type="text/javascript" charset="utf-8">
  $(function () {
    chart = $("#chart");
    online = $("#online");
    new Highcharts.Chart({
      chart: {
        backgroundColor: '#DFDFDF',
        borderColor: '#DFDFDF',
        borderWidth: 0,
        plotBorderWidth: 0,
        animation: {
                    duration: 1000
        },
        borderWidth: 0,
        borderRadius: 15,
        plotBackgroundColor: null,
        plotShadow: false,
        plotBorderWidth: 0,
        renderTo: 'chart',
        type: 'spline',
        events: {
          load: function() {
            var series = this.series[0];
            setInterval(function() {
              $.get('<%= report_history_path(:report_id => @report.domain) %>' +'?since='+ chart.data('since'), function(data){
                if (data.length > 0) {
                  chart.data('since', data[0][0]);
                  online.text(data[0][1]);
                };
                for (var i = data.length - 1; i >= 0; i--) {
                  series.addPoint([data[i][0]*1000, data[i][1]], true, true);
                };
              });
            }, 2000);
          }
        }
      },
      plotOptions: {
        spline: {
          color: '#BF3F5F',
          shadow: false,
          lineWidth: 5,
          marker: {
            enabled: false
          }
        }
      },
      title: {
        text: null
      },
      legend:{
        enabled: false
      },
      credits: {
        enabled: false
      },
      series: [{
        name: 'Online',
        data: <%= @report.history[0,48].reverse.map{|i| [i.first*1000, i.last]} %>
      }],
      xAxis: {
        gridLineWidth: 0,
        gridLineColor: '#BF3F5F',
        type: 'datetime',
        tickPixelInterval: 150,
        lineWidth: 0,
        tickWidth: 0,
        labels: {
          enabled: false
        },
        title: {
          text: null
        }

      },
      yAxis: {
        gridLineColor: '#BF3F5F',
        gridLineWidth: 0,
        labels: {
          enabled: false
        },
        title: {
          text: null
        }
      }

    });
  });
</script>